.keyboard {
    display: flex;
    flex-direction: column;
    margin: 24px auto 0;
    user-select: none;
    backdrop-filter: blur(15px);
    background-color: rgba(64, 64, 64, 0.34);
    border-radius: 20px;
    width: clamp(320px, 90vw, 520px);
    padding: clamp(8px, 2vw, 20px);
    gap: clamp(6px, 1vw, 10px);
}

.keyboard__row {
    display: flex;
    justify-content: center;
    gap: clamp(3px, 0.8vw, 6px);
}